<div id="battle-container" style="width:600px;height:600px;overflow:hidden;">
    <div class="battle-zoom">
        <div class="battle-move" style="width: 1000px; height: 1000px;">
            <canvas id="battle" width="1000" height="1000"></canvas>
        </div>
    </div>
</div>